### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# As some of this information was found elsewhere, I went ahead and "showed my work" and described where I can, as to
# demonstrate that I am learning this process rather than just copy-pasting. - Mark

# General setup: Importing dependencies, file location, and reading csv to include it into a Dataframe
import pandas as pd

file = "Resources/purchase_data.csv"

data_df = pd.read_csv(file)

In [2]:
data_df # Display results

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,7,Male,92,Final Critic,4.19
779,779,Ennrian78,24,Male,50,Dawn,4.60

## Player Count

* Display the total number of players

In [3]:
# Using the length of the "SN" column to find the total number of players while excluding dupes:
playcount_df = pd.DataFrame({"Total Number of Players": [len(data_df["SN"].unique())]})               
playcount_df

   Total Number of Players
0                      576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [4]:
# Gathering info to find the following:

# Number of unique items:
unique_count = len(data_df["Item ID"].unique())

# Average price:
average = data_df["Price"].mean()

# Number of purchases:
total_count = len(data_df["Purchase ID"])

# Total profit:
total = data_df["Price"].sum()

In [5]:
# Creating and displaying to display results:
summary_df = pd.DataFrame({
    "Unique Items": unique_count,
    "Average Price": "${:.2f}".format(average),
    "Total Purchases": total_count,
    "Total Revenue": "${:.2f}".format(total)
}, index=[0] # (Needed because without it it will not run [all the values are scalar/an integer])
)
summary_df

   Unique Items Average Price  Total Purchases Total Revenue
0           179         $3.05              780      $2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [6]:
# Finding demographics of the playerbase:

# Using the "SN" to find the number of unique players within the list:
gender = data_df.drop_duplicates("SN") # "len(data_df["SN"].unique())" can't be used because int object is not
                                       # subscriptable, meaning you can't access an integer as an array (so this is used)

# Counting the number of users who are male, female, and other/non-disclosed:
count_gender = gender["Gender"].value_counts()

In [7]:
count_gender # (To verify that its gathering the values correctly)

Male                     484
Female                    81
Other / Non-Disclosed     11
Name: Gender, dtype: int64

In [8]:
# Finding the percentage values of the above list:
percent_gender = (gender["Gender"].value_counts()/len(data_df["SN"].unique())*100)

In [9]:
percent_gender # To verify that the math was done correctly (before turning it into a percentage)

Male                     84.027778
Female                   14.062500
Other / Non-Disclosed     1.909722
Name: Gender, dtype: float64

In [10]:
# Now to present all the data into a Dataframe:
demographic_df = pd.DataFrame({
   "Count": count_gender,
   "Percent of Total Players": percent_gender.map("{:.2f}%".format)
}
)
demographic_df

                       Count Percent of Total Players
Male                     484                   84.03%
Female                    81                   14.06%
Other / Non-Disclosed     11                    1.91%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [11]:
# Analyzing purchases by gender:

# Using GroupBy and the counting function to sort purchases by each gender:
purchase_data = data_df.groupby("Gender")

purchase_count = purchase_data["Gender"].count()

In [12]:
purchase_count # To verify that it grouped and counted correctly (which it did, it matches the results image)

Gender
Female                   113
Male                     652
Other / Non-Disclosed     15
Name: Gender, dtype: int64

In [13]:
# Finding the average purchase price by each gender:
purchase_mean = purchase_data["Price"].mean()

In [14]:
purchase_mean # To verify that its been calculated correctly (before formatting)

Gender
Female                   3.203009
Male                     3.017853
Other / Non-Disclosed    3.346000
Name: Price, dtype: float64

In [15]:
# Finding the total profit by each gender:
purchase_total = purchase_data["Price"].sum()

In [16]:
purchase_total # Verifying the data is correct

Gender
Female                    361.94
Male                     1967.64
Other / Non-Disclosed      50.19
Name: Price, dtype: float64

In [17]:
# Now to collect and display all the information in a Dataframe:
purchase_analysis_df = pd.DataFrame({
    "Number of Players": count_gender,
    "Purchase Count": purchase_count,
    "Average Purchase Price": purchase_mean.map("${:,.2f}".format),
    "Total Revenue": purchase_total.map("${:,.2f}".format),
}
)
purchase_analysis_df

,Number of Players,Purchase Count,Average Purchase Price,Total Revenue
Female,81,113,$3.20,$361.94
Male,484,652,$3.02,"$1,967.64"
Other / Non-Disclosed,11,15,$3.35,$50.19

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [18]:
# Finding age demographics:

# Establishing bins/labels for age ranges (<10, 10-14, 15-19, 20-24, 25-29, 30-34, 35-39, 40+) [From the result image]:
bins = [0, 9, 14, 19, 24, 29, 34, 39, 100]

age_labels = ["<10", "10-14", "15-1", "20-24", "25-29", "30-34", "35-39", "40+"] # Using that as the labels

In [19]:
# Using "pd.cut()" to catagorize players into those bins:
data_df["Age"] = pd.cut(data_df["Age"], bins, labels=age_labels)

In [20]:
# Using a Groupby function to filter by age group:
age = data_df.groupby("Age").SN.nunique() # "SN" (not the csv keyword), is needed because its a unqiue attribute to sort by

# ("nunique()" is used for counting the number of instances that are within a bin value)

In [21]:
age # To verify the data was collected correctly 
# (Notice how its numbers and not a list of names like before when using "unique()" instead of "nunique()")

Age
<10       17
10-14     22
15-1     107
20-24    258
25-29     77
30-34     52
35-39     31
40+       12
Name: SN, dtype: int64

In [22]:
# Making the percentage calculation:
age_percent = (age/data_df.SN.nunique()*100)

In [23]:
age_percent # To verify the data was calculated correctly (before formatting)

Age
<10       2.951389
10-14     3.819444
15-1     18.576389
20-24    44.791667
25-29    13.368056
30-34     9.027778
35-39     5.381944
40+       2.083333
Name: SN, dtype: float64

In [24]:
# Now to collect all the data and display it in a Dataframe:
age_demographic_df = pd.DataFrame({
    "Total Count": age,
    "Percentage of Players": age_percent.map("{:.2f}%".format)
}
)
age_demographic_df

       Total Count Percentage of Players
Age
<10             17                 2.95%
10-14           22                 3.82%
15-1           107                18.58%
20-24          258                44.79%
25-29           77                13.37%
30-34           52                 9.03%
35-39           31                 5.38%
40+             12                 2.08%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [25]:
# Analyzing purchases by age:

# Columns that need to be isolated for the grouping in the form of bins:
age_purchase_count = data_df[["Age", "Purchase ID"]] # (Purchase ID is used because its an index, and are always unique)
age_purchase_values = data_df[["Age", "Price"]]

In [26]:
# Total amount of purchases by age:
age_total_purchases = age_purchase_count.groupby("Age").count()

In [27]:
age_total_purchases # To verify if the data was collected correctly (which it was, matches the result image)

       Purchase ID
Age
<10             23
10-14           28
15-1           136
20-24          365
25-29          101
30-34           73
35-39           41
40+             13

In [28]:
# The total profit of purchases made by age:
age_total_profit = age_purchase_values.groupby("Age").sum()

In [29]:
age_total_profit # To verify if it was calculated correctly (before formatting)

         Price
Age
<10      77.13
10-14    82.78
15-1    412.89
20-24  1114.06
25-29   293.00
30-34   214.00
35-39   147.67
40+      38.24

In [30]:
# Calculating the average purchase price by age:
age_average = (age_total_profit["Price"]/age_total_purchases["Purchase ID"])

In [31]:
age_average # Verifying the data was calculated correctly (before formatting)

Age
<10      3.353478
10-14    2.956429
15-1     3.035956
20-24    3.052219
25-29    2.900990
30-34    2.931507
35-39    3.601707
40+      2.941538
dtype: float64

In [32]:
# Collect all the info and display it in a Dataframe:
purchase_analysis_age_df = pd.DataFrame({
    "Purchase Count": age_total_purchases["Purchase ID"],
    "Average Purchase Price": age_average.map("${:.2f}".format),
    "Total Purchase Value": age_total_profit["Price"].map("${:.2f}".format)
}
)
purchase_analysis_age_df

       Purchase Count Average Purchase Price Total Purchase Value
Age
<10                23                  $3.35               $77.13
10-14              28                  $2.96               $82.78
15-1              136                  $3.04              $412.89
20-24             365                  $3.05             $1114.06
25-29             101                  $2.90              $293.00
30-34              73                  $2.93              $214.00
35-39              41                  $3.60              $147.67
40+                13                  $2.94               $38.24

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [33]:
# Finding the top spenders:

# Counting the number of spenders by username:
spender_count = data_df["SN"].value_counts()

In [34]:
spender_count # To verify if it was counted correctly (which it is, as the first 5 are the same on the results image)

Lisosia93      5
Iral74         4
Idastidru52    4
Lisim78        3
Aina42         3
              ..
Hilaerin92     1
Ceoral34       1
Lisista63      1
Layjask75      1
Sisur91        1
Name: SN, Length: 576, dtype: int64

In [35]:
# Finding the average purchase price by each spender:
spender_average = data_df["Price"].groupby(data_df["SN"]).mean()

In [36]:
spender_average # To verify that the data was calculated correctly

SN
Adairialis76     2.280000
Adastirin33      4.480000
Aeda94           4.910000
Aela59           4.320000
Aelaria33        1.790000
                   ...
Yathecal82       2.073333
Yathedeu43       3.010000
Yoishirrala98    4.580000
Zhisrisu83       3.945000
Zontibe81        2.676667
Name: Price, Length: 576, dtype: float64

In [37]:
# Finding the total profit from each spender:
spender_total = data_df["Price"].groupby(data_df["SN"]).sum()

In [38]:
spender_total # Verifying that the data was calculated correctly

SN
Adairialis76     2.28
Adastirin33      4.48
Aeda94           4.91
Aela59           4.32
Aelaria33        1.79
                 ...
Yathecal82       6.22
Yathedeu43       6.02
Yoishirrala98    4.58
Zhisrisu83       7.89
Zontibe81        8.03
Name: Price, Length: 576, dtype: float64

In [39]:
# Collect all data into a Dataframe:
top_spenders_df = pd.DataFrame({
    "Purchase Count": spender_count,
    "Average Purchase Price": spender_average, # This is primarily to hold the results but not display them
    "Total Purchase Value": spender_total
}
)

In [40]:
# The formatting is conducted here (for some reason the monetary format cannot go in the Dataframe, as doing so causes
# The "highest" number to be associated with a different user that spent only around $9.50)
top_spenders_sorted_df = top_spenders_df.sort_values("Total Purchase Value", ascending= False)

top_spenders_sorted_df["Average Purchase Price"] = top_spenders_sorted_df["Average Purchase Price"].map("${:.2f}".format)
top_spenders_sorted_df["Total Purchase Value"] = top_spenders_sorted_df["Total Purchase Value"].map("${:.2f}".format)

In [41]:
top_spenders_sorted_df.head() # To verify that it has been formatted correctly and is descending based on Purchase Value

             Purchase Count Average Purchase Price Total Purchase Value
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.41               $13.62
Iskadarya95               3                  $4.37               $13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [42]:
# Finding the most popular items that are bought:

# The columns needed are isolated into bins for grouping:
popular_items = data_df[["Item ID", "Item Name", "Price"]]

In [43]:
# Counting the number of transactions for each item in the list:
purchased_items = popular_items.groupby(["Item ID", "Item Name"])["Price"].count()

In [44]:
purchased_items # To verify that it collected data correctly (which it has, notice that item 178 matches the results)

Item ID  Item Name
0        Splinter                                         4
1        Crucifer                                         4
2        Verdict                                          6
3        Phantomlight                                     6
4        Bloodlord's Fetish                               5
                                                         ..
178      Oathbreaker, Last Hope of the Breaking Storm    12
179      Wolf, Promise of the Moonwalker                  6
181      Reaper's Toll                                    5
182      Toothpick                                        3
183      Dragon's Greatsword                              3
Name: Price, Length: 179, dtype: int64

In [45]:
# Finding the prices of each item purchased (in the form of using the mean as all unique item prices are the same):
item_price = popular_items.groupby(["Item ID", "Item Name"])["Price"].mean()

In [46]:
item_price # To verify that data is collected correctly

Item ID  Item Name
0        Splinter                                        1.2800
1        Crucifer                                        2.9425
2        Verdict                                         2.4800
3        Phantomlight                                    2.4900
4        Bloodlord's Fetish                              1.7000
                                                          ...
178      Oathbreaker, Last Hope of the Breaking Storm    4.2300
179      Wolf, Promise of the Moonwalker                 4.4800
181      Reaper's Toll                                   1.6600
182      Toothpick                                       4.0300
183      Dragon's Greatsword                             1.0900
Name: Price, Length: 179, dtype: float64

In [47]:
# Calculating total profit from each item:
item_purchase_value = popular_items.groupby(["Item ID", "Item Name"])["Price"].sum()

In [48]:
item_purchase_value # Verifying the data has been calculated correctly

Item ID  Item Name
0        Splinter                                         5.12
1        Crucifer                                        11.77
2        Verdict                                         14.88
3        Phantomlight                                    14.94
4        Bloodlord's Fetish                               8.50
                                                         ...
178      Oathbreaker, Last Hope of the Breaking Storm    50.76
179      Wolf, Promise of the Moonwalker                 26.88
181      Reaper's Toll                                    8.30
182      Toothpick                                       12.09
183      Dragon's Greatsword                              3.27
Name: Price, Length: 179, dtype: float64

In [49]:
# Gathering all the data into a dataframe and formatting it (in a similar fashion to the "Top Spenders" section above)

popular_items_df = pd.DataFrame({
    "Purchase Count": purchased_items,
    "Item Price": item_price, 
    "Total Purchase Value": item_purchase_value
}
)
popular_items_df_sort = popular_items_df.sort_values("Purchase Count", ascending=False)

popular_items_df_sort["Item Price"] = popular_items_df_sort["Item Price"].map("${:.2f}".format)
popular_items_df_sort["Total Purchase Value"] = popular_items_df_sort["Total Purchase Value"].map("${:.2f}".format)

In [50]:
popular_items_df_sort.head() # To verify that it matches the result image

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
132,Persuasion,9,$3.22,$28.99
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [51]:
# Finding the most profitable items:

# Involves re-sorting the table above by "Total Purchase Value" rather than "Purchase Count":
popular_items_df_sort_value = popular_items_df.sort_values("Total Purchase Value", ascending=False)

popular_items_df_sort_value["Item Price"] = popular_items_df_sort_value["Item Price"].map("${:.2f}".format)
popular_items_df_sort_value["Total Purchase Value"] = popular_items_df_sort_value["Total Purchase Value"].map("${:.2f}".format)

In [52]:
popular_items_df_sort_value.head() # To verify that it was sorted correctly

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
103,Singed Scalpel,8,$4.35,$34.80